header#navbar
    nav.flex.row.m-auto
        h1 This is cool :)
        ul.flex.row.gap-4.list-style-none
            li
                a(href="/") home
            li
                a(href="/upload") upload
            li
                a(href="/users") users
